/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.alphabate-value{
    margin: 10px 20px 10px 0;
}

.alphabate-header {
 font-weight: 500;
}


